html, body{
    margin: 0;
    padding: 0;
    background-color: #1b0027;
}

.logo{
    width: 200px;
    float: left;
    margin-left: 10%;
    margin-top: 1%;
    color:transparent ;
}

.hero-image{
   background-image: url(/assets/wacomka-dreamstime.com.jpg);
   background-repeat: no-repeat;
   background-size: cover;
}

nav{
    width: 100%;
    height: 75px;
    
}

.nav-con{
width: 550px;
height: 70px;
margin-top: 1px;
float: left;
}

.nav-con ul{
    list-style: none;
    
}
.nav-con li{
    float: left;
    height: 35px;
    padding-top: 4px;
    margin-top: 3%;
    padding-right: 6%;
    padding-left: -50px;
    color: #ffffff;
}

.nav-second{
    width: 550px;
    height: 70px;
    margin-top: 1px;
    float: right;
    background-color: transparent;
    }
    
    .nav-second ul{
        list-style: none;
        
    }
    .nav-second li{
        float: right;
        height: 35px;
        padding-top: 4px;
        margin-top: 3%;
        margin-right: 150px;
        opacity: 50%;
        border-radius: 15px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 10px;
        outline: 1px solid #000;
        
    
        
    }

    .nav-main{
        width: 550px;
        height: 70px;
        margin-top: 1px;
        float: left;
        }
        
        .nav-main ul{
            list-style: none;
            
        }
        .nav-main li{
            float: left;
            height: 35px;
            padding-top: 4px;
            margin-top: 3%;
            padding-right: 6%;
            padding-left: -50px;
            
        }


header{
    width:100% ;
    height:600px ;
    padding-top: 150px;
    padding-left: 10%;
    padding-right: 10%;
    color: #ffffff;
}

header p{
    width:800px;
    padding-top: 3px;
}

header h1{
   width: 600px;
   font-size: 50px;
   margin-left: -15px;
}

header h3{
  margin-left: -13px;
  font-size: 30px;
}

.button-group{
    width: 400px;
    height: 70px;
    margin-top: 70px;
    
}

.button{
    width: 150px;
    height: 40px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    float: left;
    margin-top: 10px;
    border-radius: 20px;
    margin-right: 15px;
}

.normal{
    background-color: #00e1ff;
    color: #000000;
}

.inverted{
    border: 2px solid #00e1ff;
    padding-top: 5px !important; 
}

.col-box1{

    width:50% ;
    height: 560px;
    background-color:rgba(46, 4, 114, 0.74) ;
    text-align:center ;
    margin-top: -3%;
    padding-top: 140px;
    margin-left: 45%;
 }

 .col-box1 h1{
    text-align: left;
    margin-left: 15%;
    color: #ffffff;
 }

 .col-box1 h3{
    text-align: left;
    margin-left: 15%;
    margin-top: -110px;
    color: #ffffff;
 }

 .col-box1 p{
    text-align: left;
    margin-left: 15%;
    margin-top: 50px;
    color: #ffffff;
 }

.col-box{

    width:40% ;
    height: 330px;
    text-align:center ;
    margin-top: -700px;
    padding-top: 140px;
    margin-left: 160px;
 }

 .woorde{
    margin-left: 122px;
    margin-top: 80px;
    color: #ffffff;
 }   





 .col-box2{

    width:277px ;
    height: 277px;
    background-image: url(/assets/Sahara-Henson.jpg);
    margin-top: 25px;
    margin-left: 122px;
    margin-right: 122px;
    padding-left: 10%;
    padding-right: 10%;
    background-repeat: no-repeat;
   background-size: cover;
 }

 .col-box6{

   width:277px ;
   height: 277px;
   background-image: url(/assets/Psycogenesis-KoruSe.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}

.col-box7{

   width:277px ;
   height: 277px;
   background-image: url(/assets/chmcl-soeup-darkside.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;

}

.col-box8{

   width:277px ;
   height: 277px;
   background-image: url(/assets/Magnificent-bezigr.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}




.col-box9{

   width:277px ;
   height: 277px;
   background-image: url(/assets/Breathe-yatashigang.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}

.col-box10{

   width:277px ;
   height: 277px;
   background-image: url(/assets/forgotteage\ end\ of\ the\ world.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}

.col-box11{

   width:277px ;
   height: 277px;
   background-image: url(/assets/phonklovania\ osker.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}

.col-box12{

   width:277px ;
   height: 277px;
   background-image: url(/assets/Rapture-InterWorld.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}



.col-box13{

    width:277px ;
    height: 277px;
    background-image: url(/assets/Incoming-Mc\ Orsen.jpg);
    margin-top: 25px;
    margin-left: 122px;
    margin-right: 122px;
    padding-left: 10%;
    padding-right: 10%;
    background-repeat: no-repeat;
   background-size: cover;
 }


 .col-box14{

   width:277px ;
   height: 277px;
   background-image: url(/assets/Upgrade-Offl1nx.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}

.col-box15{

   width:277px ;
   height: 277px;
   background-image: url(/assets/Made\ in\ Heaven-KoruSe.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}

.col-box16{

   width:277px ;
   height: 277px;
   background-image: url(/assets/my\ bad\ grioten.jpg);
   margin-top: 25px;
   margin-left: 122px;
   margin-right: 122px;
   padding-left: 10%;
   padding-right: 10%;
   background-repeat: no-repeat;
   background-size: cover;
}




 .col-box3{

    width:277px ;
    height: 70px;
    background-color:#484848bc ;
    margin-left: 122px;
    margin-right: 122px;
    margin-top: -794px;
 }

 .col-box4{

    width:277px ;
    height: 70px;
    background-color:#484848bc ;
    margin-left: 1564px;
    margin-top: -371px;
 }

 .col-box5{

    width:277px ;
    height: 70px;
    background-color:#484848bc ;
    margin-left: 122px;
    margin-right: 122px;
    margin-top: -70px;
 }

 .col-box3 p{
   color: #ffffff;
   margin-left: 10px;
   padding-top: 5px;
 }

 .col-box4 p{
    color: #ffffff;
    margin-left: 10px;
    padding-top: 5px;
  }

  .col-box5 p{
    color: #ffffff;
    margin-left: 10px;
    padding-top: 5px;
  }

  .col-box3 h5{
    color: #ffffff;
    margin-left: 10px;
    padding-top: -15px;
  }

  .col-box4 h5{
    color: #ffffff;
    margin-left: 10px;
    padding-top: -15px;
  }

  .col-box5 h5{
    color: #ffffff;
    margin-left: 10px;
    padding-top: -15px;
  }

 .button1{
    width: 50px;
    height: 50px;
    text-align: center;
    padding-top: 7px;
    font-weight: bold;
    float: right;
    margin-top: 10px;
    border-radius: 50px;
    margin-right: 20px;
}
 .button-group1{
    width: 600px;
    height: 70px;
    margin-top: 70px;
    
}

.inverted1{
    border: 2px solid #2b2b2b;
    padding-top: 5px !important; 
}

.heart{
    width: 70px;
    height: 70px;
    background-image: url(/assets/heart_icon.svg);
    margin-left: 325px;
 }

 .arrow1{
    margin-top: 250px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/right_arrow_icon.svg);
    margin-left: 870px;
 }

 .arrow2{
    margin-top: -50px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/left_arrow_icon.svg);
    margin-left: 800px;
 }

 .playbutton{
    margin-top: -499px;
    width: 70px;
    height: 70px;
    background-image: url(/assets/play_icon.svg);
    margin-left: 1681px;
 }

 .playbutton1{
    margin-top: -920px;
    width: 70px;
    height: 70px;
    background-image: url(/assets/play_icon.svg);
    margin-left: 237px;
 }

 .playbutton2{
    margin-top: -200px;
    width: 70px;
    height: 70px;
    background-image: url(/assets/play_icon.svg);
    margin-left: -70px;
 }

 input[type=text1], select, textarea {
    width: 45%; 
    padding: 12px; 
    border: 3px solid #00ffff; 
    border-radius: 25px; 
    margin-top: 6px; 
    margin-bottom: 16px; 
    resize: vertical ;
    color: #ffffff;
    background-color: #00000084;
  }

  .foot{
    margin-top: 100px;
    margin-left: 120px;
    color: #ffffff;
 }

 .icony{
    margin-top: -10px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/instagram_icon.svg);
    margin-left: 1800px;
 }

 .iconf{
    margin-top: -50px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/twitter_icon.svg);
    margin-left: 1730px;
 }

 .icont{
    margin-top: -50px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/facebook_icon.svg);
    margin-left: 1660px;
 }

 .iconi{
    margin-top: -50px;
    width: 50px;
    height: 50px;
    background-image: url(/assets/youtube_icon.svg);
    margin-left: 1590px;
 }

 .heartt{
    margin-top: -50px;
    width: 40px;
    height: 40px;
    background-image: url(/assets/heart_icon_smal.svg);
    margin-left: 50px;
 }

 .heartt1{
    margin-top: -775px;
    width: 40px;
    height: 40px;
    background-image: url(/assets/heart_icon_smal.svg);
    margin-left: -40px;
 }

 .heartt2{
    margin-top: -351px;
    width: 40px;
    height: 40px;
    background-image: url(/assets/heart_icon_smal.svg);
    margin-left: 1405px;
 }

 .hov{
   opacity: 0%;
}

.hov:hover{
   cursor: pointer;
    opacity: 100%;
}

.st{
    width: 260px;
    height: 80px;
    background-image: url(/assets/stream_logo_white.png);
    margin-left: 90px;
    background-size: cover;
    background-position: center;
}
